/* CSS RESET */
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');
/* DEFAULT STYLES */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.general0 {
    background-color: #7a5ec3;
    color: #43e8e3;  
} 
.general1{
    background-color: #c5f9fd;
    color: #f84241;
}
.general2{
    background-color: #f84241;
    color: #40279b;
}
.general3{
    background-color: #fccd04;
    color: #7a5ec3;
}
.general4{
    background-color: #f04a67;
    color: #c5f9fd;
}
.general5{
    background-color: #ffa6b7;
    color: #40279b;
}
.general6{
    background-color: #1d2a73;
    color: #ff6666;
}
.general7{
    background-color: #7a5ec3;
    color: #c5f9fd;
}
.general8{
    background-color: #7a5ec3;
    color: #c5f9fd;
}
.general9{
    background-color: #fccd04;
    color: #40279b;
}


a:link {
    text-decoration: none;
    color: black;
}
  
a:visited {
text-decoration: none;
}

a:hover {
text-decoration: underline;
color: #c4c4c4;
}

a:active {
/* text-decoration: underline; */
}

/* MEDIA QUERIES */
/* Mobile first, we start from the smallest viewport width */
/* ----Index & About--------------------------------- */
.top-nav {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
#logo {
    height: 40px;
    padding: 20px;
}
#burger {
    height: 27px;
    padding: 20px;
}
#x-cls {
    height: 27px;
    padding: 20px;
}
/* ------------------------------------- */
.buffer{
    height: 25vh;
}
.manifesto-container{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.whatever {
    width: 100px;
    height: 100px;
    background-color: tomato;
}
.whatever div {
    width: 10px;
    height: 10px;
    background-color: black;
    animation: 1s ease-out 0s infinite slide;
}
@keyframes slide {
    from { opacity: 0% }
    to { opacity: 100% }
}
.slidein-animation-on {
    animation: 0.7s ease-out 0s slide;
} 

article{
    width: 80%;
    margin-right: 5vw;
}
h1 {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-size: 2.3rem;
    line-height: 3rem;
    text-indent: -1rem;
    padding-bottom: 3rem;
}
.no-indent {
    text-indent: 0rem;
}
.heart-rating {
    display: flex;
    justify-content: flex-end;
}
.heart-on {
    font-size: 1rem;
    letter-spacing: 0.2rem;
}
.heart-off {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: #c4c4c4;
}
.contact-container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.contact-container div {
    background-color: black;
    border-radius: 30px;
    padding: 20px 30px;
}
.contact-container a {
    color: white;
}
.footnote { 
    position: fixed; 
    bottom: 0;
    display: flex;
    bottom: 0;
    width:80%;
    margin: 40px 0;
}
.footnote span{ 
    font-weight: 300;
}
/* ------------------------------------- */
.progress{
    background-color:rgba(125, 125, 125, 0.0);
    width: 100vw;
    position: fixed;
    bottom: 80px;
}
@keyframes progress {
    from { width: 0vw; }
    to   { width: 100vw; }
}
.progress-bar-on {
    background-color: black;
    height: 5px;
    width: 0vw;
    animation: 3s linear 0s infinite progress;
}
.progress-bar-off {
    background-color: black;
    height: 5px;
    width: 0vw;
    /* animation: 3s linear 0s infinite slidein; */
}


.bottom-nav {
    width: 100%;
    height: 80px;
    background-color: #c4c4c4;
    position: fixed; 
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: white

}
.play-stop-btn{
    display: flex;
    padding: 10px 20px;
}
.play-stop-btn img{
    width: 60px;
}
.ctrls-container{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}
.ctrls-container img{
    width: 60px;
    margin-left: 8px;
}
/* ---Authors---------------------------------- */
.authors-container {
    width: 80%;
    margin-left: 10vw
}
.author {
    height: 3rem;
    font-size: 1.5rem;
    text-decoration: none;
}

/* From 768px and up */
@media (min-width: 768px) {
}

/* From 1024px and up */
@media (min-width: 1024px) {
}

/* ---Menu-Page---------------------------------- */
#menu-page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#menu-page {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;
    text-decoration: none;
}
/* ---Sign-up---------------------------------- */
form {
    font-weight: 600;
}
form a {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 15vw;
}
input {
    width: 70vw;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    padding: 20px 30px;
    background-color: #c4c4c4;
    border: 0;
    border-radius: 30px;
    margin: 10px 0 30px 10px;
}
label {
    margin-left: 15px;
    font-size: 1.2rem;
    text-align: left;
}
#signup-button{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    background-color: black;
    width: 40vw;
    margin-left: 35vw;
}
#login-button{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    background-color: black;
    width: 40vw;
    margin-left: 10vw;
    
}
.buffer-form{
    height: 7vh;
}
